﻿@{
    Page.title = "Sobre a Igreja ";
    Layout = "~/View/Shared/_Layout.cshtml";


}




<h1>Sobre a igreja</h1>
<h4>Conheça um pouco mais sobre o Institucional da igreja </h4>
<p>
    O Mestre dos mestres, Jesus Cristo, em seu Ministério terreno, além de outras coisas, ensinou a Seus discípulos a pregar e ensinar a palavra de Deus. Em suas últimas palavras terrenas Ele disse: "- Ide e pregai" e  "Ide e ensinai" a toda a criatura. A ordem - Grande Comissão - dada aos discípulos não tem prazo de validade, portanto, está vigente para nós discípulos (Igreja) do Mestre.
</p>
<p>
    Nos últimos anos tenho sido impulsionado a realização dessas ordenanças, principalmente ao que tange ao ensino da Palavra. Entendemos, e Jesus nos afirma, que o ensino é tudo na vida de uma pessoa. Nós, seres humanos, ao sairmos do ventre de nossa mãe saímos sem qualquer conhecimento, totalmente vazio. Se não houver quem dedique tempo e cuidado ao recém-nascido, alimentando-o de tempo em tempo, ele morre. Mas, em tempo considerável, o ser humano se torna uma pessoa com conhecimentos diversos; isso se dá ao convívio, ao ensino de outras pessoas. Na vida espiritual não é diferente.
</p>
<p>
    A Igreja tem essa obrigação, ensinar a Palavra de Deus com dedicação, afim de que todo crente seja bem treinado e faça outros discípulos. A Assembléia de Deus Ministério Logos (Logos= Palavra/Verbo Vivo) propõe  isso, ensinar, pregar, edificar, valorizar... a família de Deus pois entendemos que "Toda a Escritura é divinamente inspirada, e proveitosa para ensinar, para redarguir, para corrigir, para instruir em justiça; Para que o homem de Deus seja perfeito, e perfeitamente instruído para toda a boa obra. (II Timóteo 3:16,17)
</p>
<p>
    Se você tem essa chamada e deseja compartilhar com a nossa, nos ajude na realização dessa grande - imprescindível - obra outorgada pelo Senhor e Mestre, Jesus.
</p>
<p>
    Pastor Milton S. Daudt
</p>


