﻿@{
    Page.title = "Contato";
    Layout = "~/View/Shared/_Layout.cshtml";

}

<h1 Align="center">Contato</h1>
<p>Deixe-nos sua mensagem!</p>



<form method="post" action="">
    <div class="row">
        <div class="col-6">
            <label>Nome:</label>
            <input type="text" name="txtNome" id="txtNome" class="form-control" />
        </div>
        <div class="col-12">
            <div class="form-group">
                <label for="exampleFormControlTextarea1">Mensagem:</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
        </div>

    </div>



</form>




<br>
<div class="row">
    <div class="col-12">
        <input type="submit" name="btnGravar" value="Gravar" class="btn btn-success" />

    </div>
</div>
