﻿@{
    Page.title = "Pagina Inicial";
    Layout = "~/View/Shared/_layout.cshtml";


    var todasNoticias = new ConteudoDao().ListaConteudo();


}
<div class="gallery items-3">
    <div id="item-1" class="control-operator"></div>
    <div id="item-2" class="control-operator"></div>
    <div id="item-3" class="control-operator"></div>

    <figure class="item">
        <h1>1</h1>
    </figure>

    <figure class="item">
        <h1>2</h1>
    </figure>

    <figure class="item">
        <h1>3</h1>
    </figure>

    <div class="controls">
        <a href="#item-1" class="control-button">•</a>
        <a href="#item-2" class="control-button">•</a>
        <a href="#item-3" class="control-button">•</a>
    </div>
</div>

<div class="row">
    <div class="col-12">

        <h1>Ultimas notícias </h1>
    </div>

</div>

<table>
    <tr>
        <td> Data</td>
        <td> Título</td>
    </tr>
    @foreach (var item in todasNoticias)
    {
        <tr>
            <td>@item.Data</td>
            <td><a href="~/View/Noticia/Noticia1.cshtml?idcont=@item.IdCont">@item.Titulo</a></td>
        </tr>

    }
</table>


