﻿<!DOCTYPE html>
<html>
<head>
    <title>@Page.title</title>
    <link href="~/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Css/Fonte.css" rel="stylesheet" />
           

    <meta charset="utf-8" />

</head>
<body>
    <div class=" container-fluid">
        @RenderPage("Menu.cshtml")
    </div>
    <div class="container">
        @RenderBody()
    </div>
    <div class="container">
        @RenderPage("Rodape.cshtml")
    </div>

</body>
</html>
