﻿<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <img src="~/Img/Logo.png" class="img-fluid" />
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg" id="navMenu">

                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link " href="~/View/Home/PaginaInicial.cshtml">HOME</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="~/View/Sobre/Sobre.cshtml">SOBRE A IGREJA</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Galeria/Galeria.cshtml">GALERIA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Agenda/Agenda.cshtml">AGENDA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Contado/Contado.cshtml">CONTATO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/View/Noticia/Noticia.cshtml">NOTÍCIAS</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>
