﻿
body {
    color: black;
    text-align: justify;
}

h1 {
    text-align: center;
    color: black;
}

#navMenu {
    background-color: yellow;
    width: 1200px;
}

a {
    color: black;
}


#navbarNav {
    color: black;
}


#container {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}



