﻿@{
    Page.title = "Agenda";
    Layout = "~/View/Shared/_Layout.cshtml";
}
<h1>Agenda</h1>
<p>Conheça as datas dos próximos eventos e faça-nos uma visita</p>


<div class="container">
    <div>
        <div class="p-3 mb-2 bg-danger text-warning" align="center" alth="100px">Janeiro</div>
    </div>
</div>

<div class="container">
    <div class="col-12" id="container">
        <span></span>

    </div>

</div>

