﻿@{
    Page.Title = "Noticia";
    Layout = "~/View/Shared/_layout.cshtml";

    var tipoConteudo = new TipoDeConteudoBo().ListaTipoConteudo();
    var usuario = new UsuarioBo().ListUsuario();

    if (IsPost)
    {
        Conteudo objconteudo = new Conteudo();
        objconteudo.Titulo = Request.Form["txtTitulo"];
        objconteudo.Texto = Request.Form["txtTexto"];
        objconteudo.Data = Convert.ToDateTime(Request.Form["dtPublicacao"]);
        objconteudo.idTipocont = Convert.ToInt32(Request.Form["slEvento"]);
        objconteudo.idUsuario = Convert.ToInt32(Request.Form["slUsuario"]);




        bool sucesso = new ConteudoBo().Gravar(objconteudo);

        if (sucesso)
        {
            Page.msgSucesso = "Noticia salva com sucesso";
        }
        else
        {
            Page.msgErro = "Erro ao gravar a noticia";
        }
    }

}
<div class="row">
    <div class="col-12">
        @if (Page.msgSucesso != null)
        {
            <div class="alert alert-success" role="alert">
                @Page.msgSucesso
            </div>
        }

        @if (Page.msgErro != null)
        {
            <div class="alert alert-danger" role="alert">
                @Page.msgErro
            </div>
        }
    </div>
</div>


<h1>Cadastrar Noticia</h1>



<div class="col-10">
    <form id="formCadNoticia" name="formCadNoticia" method="post" ">


        <div class="row">
            <div class="col-6">
                <label> Nome do Titulo:</label>
                <input type="text" id="txtTitulo" name="txtTitulo" class="form-control" />
            </div>

            <div class="col-6">
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Texto:</label>
                    <textarea class="form-control" id="txtTexto" name="txtTexto" rows="3"></textarea>
                </div>
            </div>
        </div>


        <div class="row mgTop">
            <div class="col-6">
                <label>data da Publicação</label>
                <input type="date" id="dtPublicacao" name="dtPublicacao" class="form-control" />
            </div>

            <div class="3">
                <label>Evento:</label>
                <select id="slEvento" name="slEvento" class="form-control">
                    <option>Selecione...</option>
                    @foreach (var item in tipoConteudo)
                    {
                        <option value="@item.IdTipoCont">@item.Descricao</option>
                    }
                </select>

            </div>

            <div class="3">
                <label>Usuário:</label>
                <select id="lsUsuario" name="slUsuario" class="form-control">
                    <option>Selecione...</option>
                    @foreach (var item in usuario)
                    {
                        <option value="@item.IdUsuario">@item.IdUsuario</option>
                    }
                </select>
            </div>

        </div>
        <br>
        

        <div class="row">
            <div class="col-6">
                <input type="submit" id="btnGravar" value="Gravar" class="btn btn-success">
            </div>
        </div>


    </form>
</div>
