﻿@{
    Page.Title = "Noticia";
    Layout = "~/View/Shared/_layout.cshtml";

    var todasNoticias = new ConteudoDao().ListaConteudo();
}
<h1 Align="center">NOTÍCIAS </h1>


<table>
    <tr>
        <td> Data</td>
        <td> Título</td>
    </tr>
    @foreach (var item in todasNoticias)
    {
    <tr>
        <td>@item.Data</td>
        <td><a href="~/View/Noticia/Noticia1.cshtml?idcont=@item.IdCont">@item.Titulo</a></td>
    </tr>

    }
</table>
