﻿@{
    Page.Title = "Noticia1 Cadastrada";
    Layout = "~/View/Shared/_layout.cshtml";

    int id = Convert.ToInt16(Request.QueryString["idcont"]);
    Conteudo objconteudo = new ConteudoBo().Buscar(id);
}


<h1>@objconteudo.Titulo</h1>
<img src="~/Img/ft3.jpg" />
<h2>@objconteudo.Texto</h2>


